@import "tailwindcss";

@theme {
  --font-switzer: "Switzer", sans-serif;
  --color-peach: #fff1be;
  --color-pink: #d77cde;
  --color-text: #030712;
  --color-grey: #555;
}

@font-face {
  font-family: "Switzer";
  src: url("fonts/Switzer-Medium.otf");
}

body {
  font-family: "Switzer", sans-serif;
  color: var(--color-text);
}